* {
	margin: 0;
	font-family: sans-serif;
	padding: 0;
}

html, body {
	height: 100%;
}

#cy {
	font-family: monospace;
	padding-top: 10px;
	width: 100%;
	height: 100%;
	float: left;
	background-color: transparent;
}

#info {
	style="margin-left: 30px;
}

.infodata {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px 12px;
    font-family: monospace;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 5px;
}
.highlight-green {
    background-color: lightgreen;
}
.highlight-blue {
    background-color: lightblue;
}
.highlight-yellow {
	background-color: yellow !important;
}

.title {
	font-weight: bold;
	font-family: monospace;
	margin-top: 10px;
	text-align: center;
	background-color: #f0f0f0;
}
.infoSection {
	display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px 12px;
	text-align: left;
    font-family: monospace;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 5px;
}

.right-pane {
	margin-left: 20px;
	width: 300px;
	height: 100vh;
	background: #ffffff;
	border-left: 1px solid #ddd;
	transition: transform 0.3s ease;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	overflow-y: auto;
}
.right-pane.collapsed {
	transform: translateX(90%);
}
.right-pane.expanded {
	transform: translateX(0);
}
.resizer {
	position: absolute;
	left: 0;
	top: 0;
	width: 5px;
	height: 100%;
	cursor: ew-resize;
	background-color: transparent; /* optionnel : #ccc pour visibilité */
}

#actuators {
	padding: 5px;
	margin: 5px;
	display: flex;
	gap: 5px;
	border: 1px solid #ddd;
}

#dbSelector {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #aaa;
}
#tableSelector {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #aaa;
}

#highlightSelector {
	width: 7%;
}

#slider {
	-webkit-appearance: none;
	display: inline-block;
	width: 100%;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	border-radius: 16px;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
#slider:hover {
  opacity: 1;
}

#highlightMode {
	padding: 1px 1px;
	background-color: #ddd;
	border-radius: 8px;
	text-align: center;
	user-select: none;
	/* font-weight: bold; */
	transition: background-color 0.3s;
}
#highlightMode.state-0 {
	background-color: #ffcc00; /* Incomers */
}
#highlightMode.state-1 {
	background-color: #ccc; /* Both */
}
#highlightMode.state-2 {
	background-color: #66ccff;     /* Outgoers */
}

