* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#cy {
	font-family: monospace;
	padding-top: 10px;
	width: 80%;
	height: 100%;
	float: left;
}

#node-info {
	font-family: monospace;
	padding-top: 10px;
	width: 20%;
	height: 100%;
	float: left;
}

#infos {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px 12px;
    font-family: monospace;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 5px;
}

.highlight-green {
    background-color: lightgreen;
}

.highlight-blue {
    background-color: lightblue;
}

.highlight-yellow {
	background-color: yellow !important;
}

#title {
	font-weight: bold;
	font-family: monospace;
	margin-top: 10px;
	background-color: #f0f0f0;
}
.tri-toggle {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ddd;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.tri-toggle.state-0 {
  background-color: #ffcc00; /* Incomers */
}
.tri-toggle.state-1 {
  background-color: #66ccff; /* Outgoers */
}
.tri-toggle.state-2 {
  background-color: #ccc;     /* Reset */
}