* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#cy {
	width: 80%;
	height: 100%;
	float: left;
	/* background-color: red; */
}

#node-info {
	width: 20%;
	height: 100%;
	float: left;
	/* background-color: green; */
}